@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    /* Светлая тема */
    --color-light-bg: #fafafc;
    --color-light-surface: #ffffff;
    --color-light-primary: #6366f1;  /* Индиго */
    --color-light-secondary: #ec4899;  /* Розовый */
    --color-light-text: #1f2937;  /* Темно-серый */
    --color-light-text-muted: #6b7280;  /* Серый */
    --color-light-border: #e5e7eb;  /* Светло-серый */

    /* Темная тема */
    --color-dark-bg: #17181c;
    --color-dark-surface: #26272c;
    --color-dark-primary: #8b5cf6;  /* Фиолетовый */
    --color-dark-secondary: #14b8a6;  /* Бирюзовый */
    --color-dark-text: #f3f4f6;  /* Почти белый */
    --color-dark-text-muted: #9ca3af;  /* Светло-серый */
    --color-dark-border: #374151;  /* Темно-серый */

    --color-light-track: #fafafc;
    --color-light-thumb: #b0b0b0; /* Слегка темнее белого */
    --color-light-hover: #909090;

    --color-dark-track: #17181c; /* Чуть темнее --color-dark-surface */
    --color-dark-thumb: #3a3d46; /* Светлее --color-dark-surface (#26272c) */
    --color-dark-hover: #4a4d58;
}